<%- include('../partials/header') %>

<h1 class="my-3"><%= title %></h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Airline</th>
      <th scope="col">Airport</th>
      <th scope="col">Flight No.</th>
      <th scope="col">Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toLocaleString() %></td>
    </tr>
  </tbody>
</table>
<h5>Destinations:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Airport</th>
      <th scope="col">Arrival Date</th>
    </tr>
  </thead>
  <tbody>
  <% if (flight.destinations.length > 0) { %>
    <% flight.destinations.forEach(destination => { %>
      <tr>
        <td><%= destination.airport %></td>
        <td><%= destination.arrival.toLocaleString() %></td>
      </tr>
    <% }); %>
  <% } else { %>
    <tr>
      <td>No destinations yet</td>
      <td>-</td>
    </tr>
  <% } %>
  </tbody>
</table>
<h5>Add a Destination:</h5>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <div class="input-group mb-3">
    <label for="airport" class="input-group-text">Airport:</label>
    <select name="airport" class="form-select" id="airport">
      <option value="AKL" <%= exAirports.includes('AKL') ? 'disabled' : '' %>>AKL</option>
      <option value="WLG" <%= exAirports.includes('WLG') ? 'disabled' : '' %>>WLG</option>
      <option value="YHZ" <%= exAirports.includes('YHZ') ? 'disabled' : '' %>>YHZ</option>
      <option value="YVR" <%= exAirports.includes('YVR') ? 'disabled' : '' %>>YVR</option>
      <option value="YYZ" <%= exAirports.includes('YYZ') ? 'disabled' : '' %>>YYZ</option>
    </select>
    <label for="arrival" class="input-group-text">Arrival Date:</label>
    <input type="datetime-local" class="form-control" name="arrival" id="arrival"
    >
    <button type="submit" class="btn btn-primary">Add Destination</button>
  </div>
</form>
<h5>Tickets:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Seat</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  <% if (tickets.length > 0) { %>
    <% tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.seat %></td>
        <td>$<%= ticket.price %></td>
      </tr>
    <% }); %>
  <% } else { %>
    <tr>
      <td>No tickets yet</td>
      <td>-</td>
    </tr>
  <% } %>
  </tbody>
</table>
<a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-primary">Add a Ticket</a>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
